.login-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.login-layout .login-card-form{
  min-width: 300px;
  width: 500px;
  max-width: 500px;
}