
.logo img {
  height: 80%;
  animation: rotation 2s infinite linear paused;
}
.logo {
  float: left;
  /* margin: 16px 0 16px 24px; */
}


.logo.rotation img:hover {
  animation: rotation 2s infinite linear running;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logo.breathe img:hover {
  animation: breathe 1.5s ease-in-out infinite alternate;
}
@keyframes breathe {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}